<%- include('partials/header') %>
<body>
	<%- include('partials/navbar') %>

	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1>404</h1>
	</div>

	<%- include('partials/footer') %>
</body>
</html>