<%- include('partials/header') %>
<body>
	<%- include('partials/navbar') %>

	<% if (templateName) { %>
		<%- include(`${templateName}`); %>
	<% }; %>

	<%- include('partials/footer') %>
</body>
</html>